.iconsAlignment{
    display: flex;
    margin-left: 54.5vw;
}
.icons{
    color: #484848;
    font-size: 1.25em;
}
.dropdownItems{
    font-size: 15px;
}
.dropDownIcon{
    color: #484848;
    font-size: 1.25em;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-decoration: none;
}